@import "styles/variables.sass"

.news-details-content
  .news-content-wrapper
    padding: 60px 70px 1.25rem 50px
    @media (max-width: $md-starts)
      padding: 0.625rem

  .share-on-social-text
    font-size: 1.1rem
    margin-top: 1rem


  #fb-iframe
    width: 32rem
    height: 40rem
    border: none
    overflow: hidden

    @media (max-width: $xs-starts)
      width: 100%
